In [118]:
import pandas as pd
import numpy as np

from collections import defaultdict

from easydict import EasyDict

### Computer Science Program Major Requirements only

In [119]:
df = pd.read_excel('Computer Science Program Major Requirements only.xlsx')

In [120]:
df.drop_duplicates(subset=['Subject/Catalog'], inplace=True)
df['Subject/Catalog'] = df['Subject/Catalog'].str.strip()
df['Subject/Catalog'] = df['Subject/Catalog'].str.replace('  ', ' ')

In [121]:
df.dtypes

Course List Description    object
Course ID/ Wildcard        object
Subject/Catalog            object
Course Title               object
Require                    object
dtype: object

In [122]:
f_21 = pd.read_csv('FA2021.csv')
w_22 = pd.read_csv('WN2022.csv')

In [123]:
def create_course_col(df):
    subject = df['Subject']
    df['subject'] = [s[s.find("(")+1:s.find(")")] for s in subject]
    df['course'] = df['subject'] + df['Catalog Nbr']
    df.sort_values(by=['course'], inplace=True)
    return df

In [124]:
create_course_col(f_21)
create_course_col(w_22)

,Term,Session,Acad Group,Class Nbr,Subject,Catalog Nbr,Section,Course Title,Component,Codes,...,SU,Start Date,End Date,Time,Location,Instructor,Units,Unnamed: 23,subject,course
8092,Winter 2022,Regular Academic Session,"Literature, Sci, and the Arts",34814,Afroamerican & African Studies (AAS),103,4,Social Sci Seminar,SEM,PDR,...,NaN,01/05/2022,04/19/2022,230-4PM,706 BMT,Abdul Khabeer,3.00,NaN,AAS,AAS 103
8094,Winter 2022,Regular Academic Session,"Literature, Sci, and the Arts",36990,Afroamerican & African Studies (AAS),104,4,Humanities Seminar,SEM,P RW,...,NaN,01/05/2022,04/19/2022,1-4PM,5521 HH,Wells,3.00,NaN,AAS,AAS 104
8095,Winter 2022,Regular Academic Session,"Literature, Sci, and the Arts",37588,Afroamerican & African Studies (AAS),104,5,Humanities Seminar,SEM,P R,...,NaN,01/05/2022,04/19/2022,1130-1PM,1060 EH,Ekotto,3.00,NaN,AAS,AAS 104
8093,Winter 2022,Regular Academic Session,"Literature, Sci, and the Arts",26479,Afroamerican & African Studies (AAS),104,3,Humanities Seminar,SEM,P RW,...,NaN,01/05/2022,04/19/2022,10-1130AM,2402 MLB,Santamarina,3.00,NaN,AAS,AAS 104
8096,Winter 2022,Regular Academic Session,"Literature, Sci, and the Arts",19498,Afroamerican & African Studies (AAS),116,2,Swahili II,REC,P W,...,NaN,01/05/2022,04/19/2022,9-10AM,1460 MH,Mwipopo,4.00,NaN,AAS,AAS 116
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11216,Winter 2022,Regular Academic Session,"Literature, Sci, and the Arts",27995,Yiddish (YIDDISH),432,1,Beg Yiddish 2-Grad,REC,P W,...,NaN,01/05/2022,04/19/2022,1-230PM,3205 MLB,NaN,4.00,NaN,YIDDISH,YIDDISH 432
11217,Winter 2022,Regular Academic Session,"Literature, Sci, and the Arts",27995,Yiddish (YIDDISH),432,1,Beg Yiddish 2-Grad,REC,P W,...,NaN,01/05/2022,04/19/2022,1-230PM,3205 MLB,Luchina,4.00,NaN,YIDDISH,YIDDISH 432
11219,Winter 2022,Regular Academic Session,"Literature, Sci, and the Arts",27996,Yiddish (YIDDISH),532,1,Int Yiddish 2-Grad,REC,P W,...,NaN,01/05/2022,04/19/2022,4-530PM,3205 MLB,NaN,4.00,NaN,YIDDISH,YIDDISH 532
11220,Winter 2022,Regular Academic Session,"Literature, Sci, and the Arts",27996,Yiddish (YIDDISH),532,1,Int Yiddish 2-Grad,REC,P W,...,NaN,01/05/2022,04/19/2022,4-530PM,3205 MLB,Luchina,4.00,NaN,YIDDISH,YIDDISH 532
11218,Winter 2022,Regular Academic Session,"Literature, Sci, and the Arts",27996,Yiddish (YIDDISH),532,1,Int Yiddish 2-Grad,REC,P W,...,NaN,01/05/2022,04/19/2022,4-5PM,3205 MLB,NaN,4.00,NaN,YIDDISH,YIDDISH 532

In [125]:
f_21.columns

Index(['Term', 'Session', 'Acad Group', 'Class Nbr', 'Subject', 'Catalog Nbr',
       'Section', 'Course Title', 'Component', 'Codes', 'M', 'T', 'W', 'TH',
       'F', 'S', 'SU', 'Start Date', 'End Date', 'Time', 'Location',
       'Instructor', 'Units', 'Unnamed: 23', 'subject', 'course'],
      dtype='object')

In [126]:
df = df.merge(f_21[['Units', 'course']], left_on=['Subject/Catalog'], right_on=['course'], how='left')

In [127]:
df = df.merge(w_22[['Units', 'course']], left_on=['Subject/Catalog'], right_on=['course'], how='left')

In [128]:
df.drop_duplicates(subset=['Subject/Catalog'], inplace=True)

In [129]:
df = df.reset_index().drop(columns='index')

In [130]:
df

,Course List Description,Course ID/ Wildcard,Subject/Catalog,Course Title,Require,Units_x,course_x,Units_y,course_y
0,CS-LSA major declaration Cal I,1794,MATH 115,Calculus I,One,4.00,MATH 115,4.00,MATH 115
1,CS-LSA major declaration Cal I,21317,MATH 120,Exam Calc Credit I,One,NaN,NaN,NaN,NaN
2,CS-LSA major declaration Cal I,5723,MATH 185,Honors Calc I,One,4.00,MATH 185,NaN,NaN
3,CS-LSA major declaration Cal I,5725,MATH 295,Honors Math I,One,4.00,MATH 295,NaN,NaN
4,CS-LSA major declaration Cal II,21318,MATH 121,Exam Calc Credit II,One,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
87,Computer Science Capstone,45440,EECS 443,Senior Thesis,One,3.00,EECS 443,3.00,EECS 443
88,Computer Science Capstone,44359,EECS 441,Mbl App Dev Entrprnr,One,4.00,EECS 441,4.00,EECS 441
89,Computer Science Capstone,45917,EECS 473,Adv Embedded Sys,One,4.00,EECS 473,NaN,NaN
90,Computer Science Capstone,48402,EECS 495,Software for Access,One,4.00,EECS 495,NaN,NaN
91,Computer Science Capstone,12129,EECS 398,Special Topics,One,NaN,NaN,NaN,NaN

In [131]:
df.rename(columns={'Units_x': 'Credits'}, inplace=True)

In [132]:
df.drop(columns=['course_x', 'course_y', 'Units_y'], inplace=True)

In [133]:
df['Credits'] = pd.to_numeric(df['Credits'], errors='coerce')

In [134]:
df['Credits'] = df.groupby('Course List Description')['Credits'].transform(lambda x: x.fillna(x.median()))

In [135]:
df.to_csv('Computer Science Program Major Requirements only.csv', index=False)

In [136]:
# df.to_clipboard()

In [137]:
df

,Course List Description,Course ID/ Wildcard,Subject/Catalog,Course Title,Require,Credits
0,CS-LSA major declaration Cal I,1794,MATH 115,Calculus I,One,4.0
1,CS-LSA major declaration Cal I,21317,MATH 120,Exam Calc Credit I,One,4.0
2,CS-LSA major declaration Cal I,5723,MATH 185,Honors Calc I,One,4.0
3,CS-LSA major declaration Cal I,5725,MATH 295,Honors Math I,One,4.0
4,CS-LSA major declaration Cal II,21318,MATH 121,Exam Calc Credit II,One,4.0
...,...,...,...,...,...,...
87,Computer Science Capstone,45440,EECS 443,Senior Thesis,One,3.0
88,Computer Science Capstone,44359,EECS 441,Mbl App Dev Entrprnr,One,4.0
89,Computer Science Capstone,45917,EECS 473,Adv Embedded Sys,One,4.0
90,Computer Science Capstone,48402,EECS 495,Software for Access,One,4.0
91,Computer Science Capstone,12129,EECS 398,Special Topics,One,4.0

In [138]:
# cs_df = df.set_index('Subject/Catalog', drop=False)

### Class Standing

Class standing is determined by the number of credits earned toward a degree:

First Year:
- Fewer than 25 credits

Sophomore:
- 25 through 54 credits

Junior:
- 55 through 84 credits

Senior:
- 85 credits or more

In [159]:
req_order = df['Course List Description'].unique()

In [160]:
req_order

array(['CS-LSA major declaration Cal I',
       'CS-LSA major declaration Cal II', 'CS-LSA major declaration ',
       'Core Probability', 'Core CS',
       'Upper Level CS Technical Electives (ULCS) ',
       'Computer Science Capstone'], dtype=object)

In [172]:
calI = df[df['Course List Description'] == 'CS-LSA major declaration Cal I']['Subject/Catalog'].tolist()

In [169]:
rng = np.random.default_rng(seed=1)

In [ ]:
deg_keys = list(req_d.keys())
deg_keys_taken = rng.choice(deg_keys)

while total_credits < n_credits:
    deg_key = rng.choice(deg_keys, size=1, replacement=False)

In [ ]:
df

In [187]:
calI_course = rng.choice(calI, size=1, replace=False)
calI_credit = df[df['Subject/Catalog'] == calI_course[0]]['Credits']

In [180]:
calI_course[0]

'MATH 185'

In [186]:
total_credits = total_credits + calI_credit

2    4.0
Name: Credits, dtype: float64

In [194]:
total_credits = 0
courses_taken = []

if total_credits < 50:
    calI_course = rng.choice(calI, size=1, replace=False)
    calI_credit = df[df['Subject/Catalog'] == calI_course[0]]['Credits']
    courses_taken.append(calI_course)

In [195]:
total_credits

0    4.0
Name: Credits, dtype: float64

In [196]:
courses_taken

[array(['MATH 115'], dtype='<U8')]

In [201]:
calI_course = rng.choice(calI, size=1, replace=False)
calI_credit = df[df['Subject/Catalog'] == calI_course[0]]['Credits']
courses_taken.append(calI_course)

In [202]:
courses_taken

[array(['MATH 115'], dtype='<U8'),
 array(['MATH 120'], dtype='<U8'),
 array(['MATH 295'], dtype='<U8'),
 array(['MATH 120'], dtype='<U8')]

In [277]:
def gen_student(number_student):
    
    req_order = df['Course List Description'].unique()
    
    require = []
    courses_taken = []
    
    for req in req_order:
        for i in range(number_student):
            
            requirement = df[df['Course List Description'] == req]['Subject/Catalog'].tolist()
        
            req_course = rng.choice(requirement, size=1, replace=False)
            req_credit = df[df['Subject/Catalog'] == requirement[0]]['Credits']
            courses_taken.append(req_course)
            require.append(req)
        
    gen_student_df = pd.DataFrame({'courses_taken': courses_taken})

    return gen_student_df
    return len(require), len(courses_taken)

In [278]:
gen_student(100)

    courses_taken
0      [MATH 120]
1      [MATH 115]
2      [MATH 185]
3      [MATH 295]
4      [MATH 115]
..            ...
695    [EECS 443]
696    [EECS 443]
697    [EECS 441]
698    [EECS 398]
699    [EECS 441]

[700 rows x 1 columns]

In [232]:
req_order = df['Course List Description'].unique()

In [233]:
require = []

In [236]:
for req in req_order:
    requirement = df[df['Course List Description'] == req]['Subject/Catalog'].tolist()
    require.append(requirement)

In [237]:
require

[[],
 ['MATH 115', 'MATH 120', 'MATH 185', 'MATH 295'],
 ['MATH 121', 'MATH 156', 'MATH 186', 'MATH 116'],
 ['EECS 203', 'EECS 280'],
 ['STATS 412',
  'IOE 265',
  'STATS 250',
  'STATS 426',
  'TO 301',
  'EECS 301',
  'EECS 401',
  'STATS 280',
  'ECON 451'],
 ['EECS 281', 'EECS 370', 'EECS 376'],
 ['EECS 367',
  'EECS 373',
  'EECS 381',
  'EECS 385',
  'EECS 427',
  'EECS 442',
  'EECS 470',
  'EECS 475',
  'EECS 477',
  'EECS 478',
  'EECS 480',
  'EECS 481',
  'EECS 482',
  'EECS 483',
  'EECS 484',
  'EECS 485',
  'EECS 487',
  'EECS 489',
  'EECS 490',
  'EECS 492',
  'EECS 493',
  'EECS 494',
  'EECS 497',
  'EECS 527',
  'EECS 543',
  'EECS 545',
  'EECS 547',
  'SI 652',
  'EECS 567',
  'MECHENG 567',
  'MFG 567',
  'ROB 510',
  'EECS 570',
  'EECS 571',
  'EECS 573',
  'EECS 574',
  'EECS 575',
  'EECS 578',
  'EECS 579',
  'EECS 580',
  'EECS 581',
  'EECS 582',
  'EECS 583',
  'EECS 584',
  'EECS 586',
  'EECS 587',
  'EECS 588',
  'EECS 589',
  'EECS 594',
  'EECS 590',
  'EECS 591',
  'EECS 592',
  'EECS 595',
  'LING 541',
  'SI 561',
  'EECS 627',
  'EECS 684',
  'EECS 691',
  'EECS 476',
  'EECS 467',
  'EECS 388',
  'EECS 445',
  'EECS 486',
  'EECS 498',
  'EECS 491'],
 ['EECS 443', 'EECS 441', 'EECS 473', 'EECS 495', 'EECS 398']]