## Create 5000 user profiles based on CS and LSA requirements

In [1]:
import pandas as pd
import pickle
import numpy as np

import numpy as np
import json
import glob

import nltk
from nltk.corpus import stopwords

from top2vec import Top2Vec

In [2]:
cs_students = pd.read_pickle('CS requirement/cs_students.pickle')
qr1_students = pd.read_pickle('LSA requirements/qr1_students.pickle')
qr2_students = pd.read_pickle('LSA requirements/qr2_students.pickle')

In [5]:
# student_profiles = {}
# for i in range(2500):
#     student_profiles[i] = pd.concat([cs_students[i], qr1_students[i]], ignore_index=True)
#     student_profiles[i+2500] = pd.concat([cs_students[i+2500], qr2_students[i]], ignore_index=True)

AttributeError: 'DataFrame' object has no attribute '_data'

In [ ]:
# pickle.dump(student_profiles, open("student_profiles.pickle", "wb"))

In [3]:
student_profiles = pd.read_pickle('student_profiles.pickle')

In [10]:
pd.DataFrame.from_dict(student_profiles.items())

         0                                                  1
0        0     Subject/Catalog                     Course ...
1     2500     Subject/Catalog                     Course ...
2        1     Subject/Catalog                     Course ...
3     2501     Subject/Catalog                     Course ...
4        2     Subject/Catalog                     Course ...
...    ...                                                ...
4995  4997     Subject/Catalog                     Course ...
4996  2498     Subject/Catalog                     Course ...
4997  4998     Subject/Catalog                     Course ...
4998  2499     Subject/Catalog                     Course ...
4999  4999     Subject/Catalog                     Course ...

[5000 rows x 2 columns]

In [6]:
student_profiles[0]

,Subject/Catalog,Course List Description,Credits,Course Title,Rating
0,MATH 295,CS-LSA major declaration Cal I,4.0,Honors Math I,4.021522
1,MATH 116,CS-LSA major declaration Cal II,4.0,Calculus II,3.503458
2,IOE 265,Core Probability,3.0,Prob&Stat for Eng,2.513271
3,EECS 482,Upper Level CS Technical Electives (ULCS),4.0,Intro Oper System,2.275309
4,EECS 590,Upper Level CS Technical Electives (ULCS),4.0,Adv Prog Lang,2.329611
5,EECS 485,Upper Level CS Technical Electives (ULCS),4.0,Web Systems,2.863709
6,EECS 367,Upper Level CS Technical Electives (ULCS),4.0,Intro Autos Robotics,3.395287
7,EECS 443,Computer Science Capstone,3.0,Senior Thesis,4.821652
8,EECS 203,CS-LSA major declaration,4.0,Discrete Math,4.660652
9,EECS 280,CS-LSA major declaration,4.0,Prog&Data Struct,4.663937
10,EECS 281,Core CS,4.0,Data Struct&Algor,3.961472
11,EECS 370,Core CS,4.0,Intro Computer Org,4.865451
12,EECS 376,Core CS,4.0,Foundatns Comp Sci,4.310073
13,LIN 104,FYWR,4.0,First Yr Sem Comp,2.108128
14,ECO 497,ULWR,3.0,Winter 1989,4.588988
15,ENGLIS 387,RE,3.0,Latina/Latino Lit,4.549194
16,MAT 128,QR/1,4.0,Expl Num Thy,2.422902
17,GERMA 350,LR,4.0,Business German,4.359243
18,GERMA 471,LR,4.0,Ger Lit Beg Pres I,2.445411
19,ASIANLA 307,LR,4.0,Mandarin I,3.563545
20,RCAS 202,LR,4.0,Intermediate American Sign Language II,4.582273
21,CHE 211,NS,2.0,Investigations in Chemistry,4.585430
22,HONOR 240,SS,4.0,Hon Core Writing SS,3.694169
23,MAT 147,MSA,3.0,Introduction to Interest Theory,3.783543
24,PHYSIC 251,NS,1.0,Physics for the Life Sciences Laboratory II,2.682940
25,CHE 230,NS,3.0,Physical Chemical Principles and Applications,2.687921
26,ENSCE 105,NS,3.0,Our Changing Atmosphere,4.843354
27,PSYC 356,SS,4.0,Educational Psych,2.416681
28,SO 295,SS,3.0,Topics in Sociology,3.578382
29,SPANIS 373,HU,3.0,Topics in Hispanic Studies,4.593399
30,HISTOR 333,HU,3.0,Literature and Empire: Nineteenth-Century Russ...,4.343876
31,ISLA 315,HU,4.0,Introduction to Arab Culture,4.031845

In [24]:
f_21 = pd.read_csv('LSA requirements/f_21_merge.csv')
w_22 = pd.read_csv('LSA requirements/w_22_merge.csv')

In [25]:
df = pd.concat([f_21, w_22])

In [26]:
df.head()

,Class Nbr,course,Term,Session,Acad Group,Subject,Course Title,description,Component,Time,...,Seats Remaining,Has WL,Units,sub_title,credits,requirements_distribution,consent,advisory_prerequisites,other_course_info,repeatability
0,30282,AAS 103,Fall 2021,Regular Academic Session,"Literature, Sci, and the Arts",Afroamerican & African Studies (AAS) Open Sect...,Social Sci Seminar,This course seeks to introduce students to eve...,SEM,1-230PM,...,1,Y,3.00,- Reading Africa: Critical Perspectives on Po...,3,SS,NaN,"Enrollment restricted to first-year students, ...",(Cross-Area Courses). May not be included in a...,May not be repeated for credit.
1,30282,AAS 103,Fall 2021,Regular Academic Session,"Literature, Sci, and the Arts",Afroamerican & African Studies (AAS) Open Sect...,Social Sci Seminar,Blood diamonds. Resource curse. Land grabs. Th...,SEM,1-230PM,...,1,Y,3.00,- Reconsidering African Environments,3,SS,NaN,"Enrollment restricted to first-year students, ...",(Cross-Area Courses). May not be included in a...,May not be repeated for credit.
2,30282,AAS 103,Fall 2021,Regular Academic Session,"Literature, Sci, and the Arts",Afroamerican & African Studies (AAS) Open Sect...,Social Sci Seminar,This course will examine the history of racial...,SEM,1-230PM,...,1,Y,3.00,- South Africa: from Apartheid to Democracy,3,SS,NaN,"Enrollment restricted to first-year students, ...",(Cross-Area Courses). May not be included in a...,May not be repeated for credit.
3,30276,AAS 104,Fall 2021,Regular Academic Session,"Literature, Sci, and the Arts",Afroamerican & African Studies (AAS) Open Sect...,Humanities Seminar,This seminar introduces first-year students to...,SEM,1130-1PM,...,2,Y,3.00,- Black Lives and Life Writing: How We Tell S...,3,HU,With permission of instructor.,"Enrollment restricted to first-year students, ...",(Cross-Area Courses). May not be included in a...,May not be repeated for credit.
4,30276,AAS 104,Fall 2021,Regular Academic Session,"Literature, Sci, and the Arts",Afroamerican & African Studies (AAS) Open Sect...,Humanities Seminar,This seminar introduces first-year students to...,SEM,1130-1PM,...,2,Y,3.00,- Black Atlantic Religion,3,HU,NaN,"Enrollment restricted to first-year students, ...",(Cross-Area Courses). May not be included in a...,May not be repeated for credit.

In [27]:
df.columns

Index(['Class Nbr', 'course', 'Term', 'Session', 'Acad Group', 'Subject',
       'Course Title', 'description', 'Component', 'Time', 'Location',
       'Instructor', 'Total', 'Seats Remaining', 'Has WL', 'Units',
       'sub_title', 'credits', 'requirements_distribution', 'consent',
       'advisory_prerequisites', 'other_course_info', 'repeatability'],
      dtype='object')

In [28]:
df['course_full_text'] = df['Course Title'] + df['sub_title'] + df['description'] + df['Acad Group'] + df['Subject']

In [29]:
len(df)

105035

In [30]:
df.dropna(subset=['course_full_text'], inplace=True)

In [31]:
df.reset_index(inplace=True)

In [32]:
texts = df.course_full_text.tolist()

In [33]:
len(texts)

7605

In [226]:
model = Top2Vec(texts, embedding_model='universal-sentence-encoder', min_count=5, speed='learn', workers=8)

2021-11-28 13:09:51,997 - top2vec - INFO - Pre-processing documents for training
INFO:top2vec:Pre-processing documents for training
2021-11-28 13:09:55,126 - top2vec - INFO - Downloading universal-sentence-encoder model
INFO:top2vec:Downloading universal-sentence-encoder model
2021-11-28 13:10:19,143 - top2vec - INFO - Creating joint document/word embedding
INFO:top2vec:Creating joint document/word embedding
2021-11-28 13:10:22,891 - top2vec - INFO - Creating lower dimension embedding of documents
INFO:top2vec:Creating lower dimension embedding of documents
2021-11-28 13:10:51,549 - top2vec - INFO - Finding dense areas of documents
INFO:top2vec:Finding dense areas of documents
2021-11-28 13:10:51,726 - top2vec - INFO - Finding topics
INFO:top2vec:Finding topics

In [175]:
model.save('course_topics_model')

In [91]:
model = Top2Vec.load('course_topics_model')

In [92]:
model.get_num_topics()

134

In [93]:
topic_sizes, topic_nums = model.get_topic_sizes()

In [102]:
df = pd.DataFrame(model.document_vectors)

In [213]:
from sklearn.cluster import DBSCAN
from matplotlib import pyplot
from numpy import unique
from collections import Counter
import hdbscan

In [231]:
hdbscan_args = {'min_cluster_size': 100,
                'metric': 'euclidean',
                'cluster_selection_method': 'eom',
                'min_samples': 10}

In [232]:
clustering = hdbscan.HDBSCAN(**hdbscan_args).fit(df)

In [233]:
clustering.labels_

array([10, -1, -1, ..., -1, -1, -1])

In [234]:
cluster_list = clustering.labels_.tolist()

In [235]:
Counter(cluster_list)

Counter({10: 871,
         -1: 3396,
         6: 117,
         9: 472,
         3: 858,
         11: 317,
         1: 408,
         8: 138,
         5: 138,
         0: 134,
         2: 216,
         7: 270,
         4: 270})

In [219]:
clusters = unique(clustering)

In [220]:
clusters

array([HDBSCAN(min_cluster_size=30, min_samples=1)], dtype=object)