## Create 5000 user profiles based on CS and LSA requirements

In [261]:
import pandas as pd
import pickle
import numpy as np

import numpy as np
import json
import glob

import nltk
from nltk.corpus import stopwords

# from top2vec import Top2Vec

In [2]:
cs_students = pd.read_pickle('CS requirement/cs_students.pickle')
qr1_students = pd.read_pickle('LSA requirements/qr1_students.pickle')
qr2_students = pd.read_pickle('LSA requirements/qr2_students.pickle')

In [5]:
# student_profiles = {}
# for i in range(2500):
#     student_profiles[i] = pd.concat([cs_students[i], qr1_students[i]], ignore_index=True)
#     student_profiles[i+2500] = pd.concat([cs_students[i+2500], qr2_students[i]], ignore_index=True)

AttributeError: 'DataFrame' object has no attribute '_data'

In [ ]:
# pickle.dump(student_profiles, open("student_profiles.pickle", "wb"))

In [262]:
student_profiles = pd.read_pickle('student_profiles.pickle')

In [10]:
pd.DataFrame.from_dict(student_profiles.items())

         0                                                  1
0        0     Subject/Catalog                     Course ...
1     2500     Subject/Catalog                     Course ...
2        1     Subject/Catalog                     Course ...
3     2501     Subject/Catalog                     Course ...
4        2     Subject/Catalog                     Course ...
...    ...                                                ...
4995  4997     Subject/Catalog                     Course ...
4996  2498     Subject/Catalog                     Course ...
4997  4998     Subject/Catalog                     Course ...
4998  2499     Subject/Catalog                     Course ...
4999  4999     Subject/Catalog                     Course ...

[5000 rows x 2 columns]

In [264]:
student_profiles[1]

,Subject/Catalog,Course List Description,Credits,Course Title,Rating
0,MATH 120,CS-LSA major declaration Cal I,4.0,Exam Calc Credit I,2.342497
1,MATH 186,CS-LSA major declaration Cal II,4.0,Honors Calc II,2.302494
2,STATS 426,Core Probability,3.0,Intro to Theo Stat,3.030199
3,EECS 574,Upper Level CS Technical Electives (ULCS),4.0,Computat Complexity,4.108495
4,EECS 627,Upper Level CS Technical Electives (ULCS),4.0,VLSI Design II,3.644721
5,EECS 442,Upper Level CS Technical Electives (ULCS),4.0,Computer Vision,3.768067
6,EECS 594,Upper Level CS Technical Electives (ULCS),4.0,Intro Adaptive Syst,3.359555
7,EECS 441,Computer Science Capstone,4.0,Mbl App Dev Entrprnr,3.564341
8,EECS 203,CS-LSA major declaration,4.0,Discrete Math,3.614063
9,EECS 280,CS-LSA major declaration,4.0,Prog&Data Struct,3.039934
10,EECS 281,Core CS,4.0,Data Struct&Algor,2.702543
11,EECS 370,Core CS,4.0,Intro Computer Org,3.832988
12,EECS 376,Core CS,4.0,Foundatns Comp Sci,2.544180
13,LIN 104,FYWR,4.0,First Yr Sem Comp,3.347588
14,AMCUL 313,ULWR,3.0,Fall 2011,3.753349
15,EDU 210.0,RE,3.0,Spec Topics in Ed,3.630088
16,STAT 100,QR/1,4.0,Intro Stat/Math Mode,2.156984
17,GERMA 464,LR,4.0,German Ethnicities,3.866353
18,ASIANLA 485,LR,4.0,Advanced Bengali I,3.627009
19,MIDEAS 519,LR,4.0,Qur'An Study,2.937065
20,LATI 446,LR,4.0,Horace: Odes&Epodes,3.030641
21,ISLA 292,HU,3.0,HU Topics in Islam,4.675750
22,HAR 139,CE,3.0,Performance,2.684997
23,MAT 156,MSA,4.0,App Honors Calc 2,2.309000
24,PHYSIC 169,NS,3.0,Physical Universe,4.825084
25,PHYSIC 106,NS,3.0,Everyday Physics,3.024213
26,EART 119,NS,3.0,Introduction to Earth Science,4.188506
27,POLSC 386,SS,4.0,"Sports, Pol, Society",4.377954
28,SO 304,SS,4.0,Amer Immigration,3.333299
29,ASIA 203,HU,4.0,Haunted by History: Asian Horror Cinema,3.180490
30,MIDEAS 216,HU,3.0,Islam in History,3.502531

In [24]:
f_21 = pd.read_csv('LSA requirements/f_21_merge.csv')
w_22 = pd.read_csv('LSA requirements/w_22_merge.csv')

In [25]:
df = pd.concat([f_21, w_22])

In [26]:
df.head()

,Class Nbr,course,Term,Session,Acad Group,Subject,Course Title,description,Component,Time,...,Seats Remaining,Has WL,Units,sub_title,credits,requirements_distribution,consent,advisory_prerequisites,other_course_info,repeatability
0,30282,AAS 103,Fall 2021,Regular Academic Session,"Literature, Sci, and the Arts",Afroamerican & African Studies (AAS) Open Sect...,Social Sci Seminar,This course seeks to introduce students to eve...,SEM,1-230PM,...,1,Y,3.00,- Reading Africa: Critical Perspectives on Po...,3,SS,NaN,"Enrollment restricted to first-year students, ...",(Cross-Area Courses). May not be included in a...,May not be repeated for credit.
1,30282,AAS 103,Fall 2021,Regular Academic Session,"Literature, Sci, and the Arts",Afroamerican & African Studies (AAS) Open Sect...,Social Sci Seminar,Blood diamonds. Resource curse. Land grabs. Th...,SEM,1-230PM,...,1,Y,3.00,- Reconsidering African Environments,3,SS,NaN,"Enrollment restricted to first-year students, ...",(Cross-Area Courses). May not be included in a...,May not be repeated for credit.
2,30282,AAS 103,Fall 2021,Regular Academic Session,"Literature, Sci, and the Arts",Afroamerican & African Studies (AAS) Open Sect...,Social Sci Seminar,This course will examine the history of racial...,SEM,1-230PM,...,1,Y,3.00,- South Africa: from Apartheid to Democracy,3,SS,NaN,"Enrollment restricted to first-year students, ...",(Cross-Area Courses). May not be included in a...,May not be repeated for credit.
3,30276,AAS 104,Fall 2021,Regular Academic Session,"Literature, Sci, and the Arts",Afroamerican & African Studies (AAS) Open Sect...,Humanities Seminar,This seminar introduces first-year students to...,SEM,1130-1PM,...,2,Y,3.00,- Black Lives and Life Writing: How We Tell S...,3,HU,With permission of instructor.,"Enrollment restricted to first-year students, ...",(Cross-Area Courses). May not be included in a...,May not be repeated for credit.
4,30276,AAS 104,Fall 2021,Regular Academic Session,"Literature, Sci, and the Arts",Afroamerican & African Studies (AAS) Open Sect...,Humanities Seminar,This seminar introduces first-year students to...,SEM,1130-1PM,...,2,Y,3.00,- Black Atlantic Religion,3,HU,NaN,"Enrollment restricted to first-year students, ...",(Cross-Area Courses). May not be included in a...,May not be repeated for credit.

In [27]:
df.columns

Index(['Class Nbr', 'course', 'Term', 'Session', 'Acad Group', 'Subject',
       'Course Title', 'description', 'Component', 'Time', 'Location',
       'Instructor', 'Total', 'Seats Remaining', 'Has WL', 'Units',
       'sub_title', 'credits', 'requirements_distribution', 'consent',
       'advisory_prerequisites', 'other_course_info', 'repeatability'],
      dtype='object')

In [28]:
df['course_full_text'] = df['Course Title'] + df['sub_title'] + df['description'] + df['Acad Group'] + df['Subject']

In [29]:
len(df)

105035

In [30]:
df.dropna(subset=['course_full_text'], inplace=True)

In [31]:
df.reset_index(inplace=True)

In [32]:
texts = df.course_full_text.tolist()

In [33]:
len(texts)

7605

In [226]:
model = Top2Vec(texts, embedding_model='universal-sentence-encoder', min_count=5, speed='learn', workers=8)

2021-11-28 13:09:51,997 - top2vec - INFO - Pre-processing documents for training
INFO:top2vec:Pre-processing documents for training
2021-11-28 13:09:55,126 - top2vec - INFO - Downloading universal-sentence-encoder model
INFO:top2vec:Downloading universal-sentence-encoder model
2021-11-28 13:10:19,143 - top2vec - INFO - Creating joint document/word embedding
INFO:top2vec:Creating joint document/word embedding
2021-11-28 13:10:22,891 - top2vec - INFO - Creating lower dimension embedding of documents
INFO:top2vec:Creating lower dimension embedding of documents
2021-11-28 13:10:51,549 - top2vec - INFO - Finding dense areas of documents
INFO:top2vec:Finding dense areas of documents
2021-11-28 13:10:51,726 - top2vec - INFO - Finding topics
INFO:top2vec:Finding topics

In [175]:
model.save('course_topics_model')

In [91]:
model = Top2Vec.load('course_topics_model')

In [92]:
model.get_num_topics()

134

In [93]:
topic_sizes, topic_nums = model.get_topic_sizes()

In [102]:
df = pd.DataFrame(model.document_vectors)

In [213]:
from sklearn.cluster import DBSCAN
from matplotlib import pyplot
from numpy import unique
from collections import Counter
import hdbscan

In [270]:
hdbscan_args = {'min_cluster_size': 40,
                'metric': 'euclidean',
                'cluster_selection_method': 'eom',
                'min_samples': 5}

In [271]:
clustering = hdbscan.HDBSCAN(**hdbscan_args).fit(df)

In [272]:
clustering.labels_

array([23, 23, -1, ..., -1, -1, -1])

In [273]:
cluster_list = clustering.labels_.tolist()

In [274]:
Counter(cluster_list)

Counter({23: 57,
         -1: 3407,
         21: 48,
         26: 51,
         25: 42,
         27: 412,
         3: 62,
         13: 118,
         24: 70,
         22: 54,
         4: 45,
         17: 330,
         18: 62,
         16: 132,
         7: 74,
         8: 64,
         6: 108,
         5: 440,
         12: 46,
         28: 41,
         19: 46,
         1: 408,
         15: 138,
         10: 138,
         0: 134,
         2: 216,
         20: 270,
         14: 270,
         9: 270,
         11: 52})

In [219]:
clusters = unique(clustering)

In [220]:
clusters

array([HDBSCAN(min_cluster_size=30, min_samples=1)], dtype=object)